<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mymangalist"
     >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChapterListActivity"
            android:label="@string/title_activity_chapterlistactivity"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MangaSelected"
            android:label="@string/title_activity_manga_selected"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.Chapters"
            android:label="@string/title_activity_chapters"
            android:parentActivityName=".activities.MangaSelected" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MangaSelected" />
        </activity>

        <service
            android:name=".services.DownloadService"
            android:icon="@drawable/mangaicon" />

        <activity
            android:name=".activities.ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

    </application>

</manifest>
